---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Elizabeth's Future">
	<main>
        <div>
        Future
        </div>
        <div class="profession">
            <h2>Profession</h2>
            <h3>Work daily with React</h3>
            <h3>Get intimate with TypeScript</h3>
        </div>
        <div class="art">
            <h2>Art</h2>
            <h3>craft a ceramic mug</h3> 
            <h3>start working on a comic book</h3>
            <h3 class="done">make a zine</h3>
            <h3>sell zines in a small bookstore</h3>
            <h3>vend at an art fair in PGH</h3>
            <h3>learn how to crochet</h3>
            <h3>learn to reduce while knitting</h3>
        </div>
        <a href="/"><i class="fa-solid fa-arrow-left"></i></a>

	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
        margin-top: 100px;
	}
    .done {
        text-decoration: line-through;
    }
</style>
