---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Elizabeth's Past">
	<main>
        <div>
            PAST
        </div>
        <div class="profession">
            <h3>Ving - UI Developer</h3>
            <p>Improving and maintaining the frontend codebase using Angular and
                TypeScript.</p>
            <h3>The Event Discovery Company - Contractor</h3>
            <p>Worked with their dev team to build web and mobile applications for
                clients using React.js and React Native.</p>
            <h3>Drund Ltd. - Frontend Engineer </h3>
            <p>Added features, refactored, and wrote helpers and unit tests for a 9+ yr
                old codebase written in Backbone.js, also utilizing Mustache.js,
                Moment.js, and Underscore.js</p>
            <h3>Drund Ltd. - QA Intern </h3>
            <p>Tested Drund's web and mobile apps, reported bugs via Jira, and wrote
                Selenium tests in Python for automating web testing.</p>
        </div>
        <div class="education">
            <h2>Education</h2>
            <h3>Youngstown State University, Youngstown OH —Computer Science</h3>        
        </div>
        <a href="/"><i class="fa-solid fa-arrow-right"></i></a>

	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
        margin-top: 100px;
	}
</style>
