---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout title="Elizabeth's Present">
	<main>
        <div class="image">
            <img src="../assets/me.svg">
        </div>
        <div class="text">
            <div>
            Present
            </div>
            <div class="profession">
                <h2>Professional</h2>

                <h3>React</h3> 
                <p>I am actively looking for work as a React developer.</p>
                <h3>Learning</h3> 
                <ul>
                <li>Three.js</li>
                <li>React.js</li>
                <li>TypeScript.js</li>
                </ul>
            </div>
            <div class="art">
                <h2>Art</h2>
                <h3>Digital Art</h3>
                <p>Using Procreate and Adobe Illustrator, I create digital artwork.</p>
                <h3>Resin earrings</h3> 
                <p>I make resin earrings out of locally foraged plants, mushrooms, and bugs. I sell these at art fairs and at <a href="https://www.herprimitiveways.com/">The Dreaming Tree</a>.</p> 
                <!-- <h3>Prints</h3>  
                <p>I sell prints of my digital art <a href="/">here</a>.</p>  
                <h3>Knitting double-brim hats</h3>
                <p>My current favorite knitting pattern. <a href="/">Here</a> are some examples of my work</p> 
                <h3>Zines</h3> 
                <p>I enjoy making horrible little zines that brew discomfort.</p> -->
            </div>
            <div class="socials">
                <a href="https://instagram.com/elizabethdurflinger"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://github.com/eadurflinger"><i class="fa-brands fa-github"></i></a>
            </div>
            <a href="/"><i class="fa-solid fa-arrow-left"></i></a>
        </div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 150ch;
        margin-top: 100px;
        display: flex;
        justify-content: space-between;
	}
    .image {
        width: 600px;
    }
    .text {
        max-width: 60ch;
    }
    .socials {
        margin-top: 20px;
    }
</style>
