---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Elizabeth's Present">
	<main>
        <div class="text">
            <div>
            Current Skillset
            </div>
            <div class="profession">
                <h2>Art and Design</h2>
                <h3>Angular</h3>
                <h3>Javascript</h3>
                <h3>React</h3>
                <h3>HTML 5 + CSS</h3>
                <h3>Jira</h3>
            </div>
            <div class="art">
                <h2>Art and Design</h2>
                <h3>Procreate</h3>
                <h3>Adobe Illustrator</h3>
                <h3>Adobe XD</h3>
                <h3>Figma</h3>
                <h3>Illustration</h3>
            </div>
           
            <a href="/"><i class="fa-solid fa-arrow-left"></i></a>
        </div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 150ch;
        margin-top: 100px;
	}
</style>
