<div class="faces">
	<img src="/character.webp">
</div>
<style>
	.faces {
        margin: 0 auto;
    }
    .faces img {
        width: 350px;
    }
    @media (max-width: 500px) {
        .faces img {
            width: 250px;
        }
    }
</style>
