<div class="faces">
	<img src="../../assets/character.gif">
</div>
<style>
	.faces {
        width: 350px;
        margin: 0 auto;
        padding: 20px;
    }
    .faces img {
        width: 350px;
    }
</style>
